<div class="rowdiv flex-start bordered review">
	<p>
		<b class="user">{{user}}</b>	
		<button class="delete">delete</button> 
		<br> 
		<u>Rating : <span class="rating">{{rating}}</span>/5.</u>
		<br>
		<span class="desc">{{desc}}</span>
	</p>
</div>