<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css media=all href=styles.css>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

	  <script type="text/javascript" src="/js/index.js"></script>-->
	  <link rel="stylesheet" href="/css/product_profile_styles.css" type="text/css"/> 
    <title>About</title>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
      <div class="container">
        <div class="alignR">
        <img class = "nav-img" src="/img/logo.png" alt="">
          <div class = "welcome">Welcome!</div> 
          <a href="./"> Home</a> 
          <a id="about" class="active" href=""> About</a>
          <a id="edit_profile" href="edit_profile">My Account</a> 
          <a id="my_cart" href="my_cart">My Cart</a>
          <a id="register" href="register">Register </a> 
          <a id="login" href="login">Login</a>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br>
  <br>

<div class="h-spacer"></div>

<div class="flexbox">
  <div class="centercontainer ">
    <div class="rowdiv flex-start textbanner"><h1>About</h1></div>
    <div class="rowdiv flex-start">
    </div>
    <div class="rowdiv flex-start">
      <p><b>Created By</b> :
        <br>Algenio, Moses Christian Sevilla
        <br>Jabanes, Jason Jan Chan
        <br>Lojo, Jose Paolo Ofrecio
      </p>
    </div>
    <div class="rowdiv flex-start">
      <p><b>NPM packages used</b> :
        bcrypt,
        bodyParser, 
        cookie-parser,
        dotenv, 
        express, 
        express-sessions,
        handlebars,
        mongodb,
        mongoose,
        nodemon,
      </p>
    </div>
  </div>
</div>
  
</body>
</html>