<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title> CStore </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

	<script type="text/javascript" src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index_login_styles.css" type="text/css"/>
  </head>
<body>
<!-- 
	Upper Header Section 
-->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="topNav">
		<div class="container">
			<div class="alignR">
			<img class = "nav-img" src="/img/logo.png" alt="">
			<form action="#" class="navbar-search">
			  <input type="text" placeholder="Search" class="search-query span2">
			</form>
				<div class = "welcome">Welcome!</div> 
				<a class="active" href=""> Home</a> 
				<a id="edit_profile" href="edit_profile">My Account</a> 
				<a id="my_cart" href="my_cart">My Cart</a>
				<a id="register" href="register">Register </a> 
				<a id="login" href="login">Login</a>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>

<!--
Lower Header Section 
-->
 
<!-- 
Body Section 
-->
<div class="container">
<div id="gototop"> </div>
<div class="row">
<div id="sidebar" class="span3">
<img src="/img/logo white.png" alt="">
<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Browse by Category</strong></a></li>
		<br>
		<li><a href="product1.html">- Electronics</a></li>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
		<li><a href="product4.html">- Home Decor</a></li>
		<li><a href="product5.html">- Makeup</a></li>

	</ul>
</div>

<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Recently Searched</strong></a></li>
		<br>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
	</ul>
</div>

<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Popular Searches</strong></a></li>
		<br>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
	</ul>
</div>


</div>
	<div class="span9">
	<div class="well np">
		<div class="slideshow-container">
			  <!-- Full-width images with number and caption text -->
			  <div class="mySlides fade">
				<a href="product1.html"><img src="/img/switch.jpg" style="width:100%"></a>
                <div class="slide-caption">
                      <h4>Enjoy low prices at minimal cost!</h4>
                      <p><span>Very easy to use</span></p>
                </div>
			  </div>

			  <div class="mySlides fade">
				<a href="product2.html"><img src="/img/underwear.jpg" style="width:100%"></a>
                <div class="slide-caption">
                      <h4>Many Categories to choose from!</h4>
                      <p><span>Very amazing!</span></p>
                </div>
			  </div>

			  <div class="mySlides fade">
				<a href="product3.html"><img src="/img/pingpong.jpg" href="product3.html" style="width:100%"></a>
                <div class="slide-caption">
                      <h4>Enjoy the biggest discounts!</h4>
                      <p><span>Very affordable!</span></p>
                </div>
			  </div>
			  
			  <div class="mySlides fade">
				<a href="product4.html"><img src="/img/sofa.jpg" href="product4.html" style="width:100%"></a>
                <div class="slide-caption">
                      <h4>Enjoy our extended warranties!</h4>
                      <p><span>Very easy to return!</span></p>
                </div>
			  </div>
			  
			  <div class="mySlides fade">
				<a href="product5.html"><img src="/img/lipstick.jpg" href="product5.html" style="width:100%"></a>
                <div class="slide-caption">
                      <h4>Enjoy our amazing website!</h4>
                      <p><span>Very good for the eyes!</span></p>
                </div>
			  </div>

			  <!-- Next and previous buttons -->
			  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			  <a class="next" onclick="plusSlides(1)">&#10095;</a>
			</div>
			<br>

			<!-- The dots/circles -->
			<div style="text-align:center">
			  <span class="dot" onclick="currentSlide(1)"></span>
			  <span class="dot" onclick="currentSlide(2)"></span>
			  <span class="dot" onclick="currentSlide(3)"></span>
			  <span class="dot" onclick="currentSlide(4)"></span>
			  <span class="dot" onclick="currentSlide(5)"></span>
			</div>
        </div>
<!--
New Products
-->
	<div class="well well-small">
	<h3>New Products </h3>
	<hr class="soften"/>
	<div class ="row-fluid">
	  <ul class="thumbnails">
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="view_product"><img src="/img/jacket.jpg" alt="jacket"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="view_product"><img src="/img/lotus.jpg" alt="lotus"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="view_product"><img src="/img/shorts.jpg" alt="shorts"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="view_product"><img src="/img/penguin.jpg" alt="penguin"></a>
		</div>
		</li>
	  </ul>
	  </div>
	</div>
	

<!--
Popular Products
-->
	<div class="well well-small">
	<h3>New Products </h3>
	<hr class="soften"/>
	<div class ="row-fluid">
	  <ul class="thumbnails">
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="product2.html"><img src="/img/jacket.jpg" alt="jacket"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="product5.html"><img src="/img/lotus.jpg" alt="lotus"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="product3.html"><img src="/img/shorts.jpg" alt="shorts"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="product4.html"><img src="/img/penguin.jpg" alt="penguin"></a>
		</div>
		</li>
	  </ul>
	  </div>
	</div>
	
<!--
Best Selling Products
-->
	<div class="well well-small">
	<h3>New Products </h3>
	<hr class="soften"/>
	<div class ="row-fluid">
	  <ul class="thumbnails">
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="product2.html"><img src="/img/jacket.jpg" alt="jacket"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="product5.html"><img src="/img/lotus.jpg" alt="lotus"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="product3.html"><img src="/img/shorts.jpg" alt="shorts"></a>
		</div>
		</li>
		<li class="span3">
		<div class="thumbnail">
			<a href="#" class="tag"></a>
			<a href="product4.html"><img src="/img/penguin.jpg" alt="penguin"></a>
		</div>
		</li>
	  </ul>
	  </div>
	</div>

    <!-- Placed at the end of the document so the pages load faster -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/carousel.js"></script>
  </body>
</html>