<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/index.js"></script>
    <link href="/css/index_login_styles.css" rel="stylesheet"/>
  </head>
<body>
<!-- 
	Upper Header Section 
-->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="topNav">
		<div class="container">
			<div class="alignR">
			<img class = "nav-img" src="/img/logo.png" alt="">
			<form action="#" class="navbar-search">
			  <input type="text" placeholder="Search" class="search-query span2">
			</form>
				<div class = "welcome">Welcome!</div> 
				<a href="./"> Home</a> 
				<a href="edit_profile">My Account</a> 
				<a href="my_cart">My Cart</a>
				<a class="active" href="register">Register </a> 
				<a href="login"> Login</a>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>

<!--
Lower Header Section 
-->
 
<!-- 
Body Section 
-->
<div class="container">
<div id="gototop"> </div>
<div class="row">
<div id="sidebar" class="span3">
<img src="/img/logo white.png" alt="">
<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Browse by Category</strong></a></li>
		<br>
		<li><a href="product1.html">- Electronics</a></li>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
		<li><a href="product4.html">- Home Decor</a></li>
		<li><a href="product5.html">- Makeup</a></li>

	</ul>
</div>

<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Recently Searched</strong></a></li>
		<br>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
	</ul>
</div>

<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Popular Searches</strong></a></li>
		<br>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
	</ul>
</div>
</div>
	<h3 style="margin-left: 260px; font-size: 25px">Registration</h3>
	<div class="span9">
	<div class="centercontainer">
	<div class ="textbanner flex-start rowdiv">
		<h3>Your Personal Details</h3>
	</div>
	<div class="h-spacer"></div>
	<div class="row">
		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">First Name*</label>
					<input class="inputbox" type="text" id="fn" placeholder="First Name" name="...">
				</form>
		</div>
		
		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">Last Name*</label>
					<input class="inputbox" type="text" id="ln" placeholder="Last Name" name="...">
				</form>
		</div>

		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">Gender*</label>
					<input class="inputbox" type="text" id="gender" placeholder="Gender" name="...">
				</form>
		</div>
		
		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">Email*</label>
					<input class="inputbox" type="text" id="email" placeholder="Email" name="...">
				</form>
		</div>
		
		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">Password*</label>
					<input class="inputbox" type="text" id="password" placeholder="Password" name="...">
				</form>
		</div>
		<div class="h-spacer"></div>
	</div>			
	</div>
	</div>
	
	<div class="span9">
	<div class="centercontainer">
	<div class ="textbanner flex-start rowdiv">
		<h3>Billing Details</h3>
	</div>
	<div class="h-spacer"></div>
	<div class="row">
		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">Credit Card Number*</label>
					<input class="inputbox" type="text" id="ccNo" placeholder="Credit Card Number" name="...">
				</form>
		</div>
		
		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">Security Number*</label>
					<input class="inputbox" type="text" id="sNo" placeholder="Security Number" name="...">
				</form>
		</div>

		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">Expiry Date*</label>
					<input class="inputbox" type="text" id="ExpDate" placeholder="Credit Card Expiry Date" name="...">
				</form>
		</div>
		
		<div class="rowdiv">
				<form class="form-inline">
                    <label class="formlabel1" for="...">Billing Address*</label>
					<input class="inputbox" type="text" id="address" placeholder="Billing Address" name="...">
				</form>
		</div>
		<div class="h-spacer"></div>
	</div>			
	</div>
	<div class="buttondiv cornerbutton">
	<div class="control-group">
		<button type="submit" id="register" class="defaultBtn flex-start">Register</button>
		<p id="error" class="error"></p>
	</div>
	</div>
	</div>
</div>
</div>
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/carousel.js"></script>
  </body>
</html>
