<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product_profile_styles.css"/>
    <title>View Product</title>
</head>
<body>
<!-- 
	Upper Header Section 
-->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="topNav">
		<div class="container">
			<div class="alignR">
			<img class = "nav-img" src="/img/logo.png" alt="">
			<form action="#" class="navbar-search">
			  <input type="text" placeholder="Search" class="search-query span2">
			</form>
				<div class = "welcome">Welcome!</div> 
				<a href="index.html"> Home</a> 
				<a href="edit_profile.html">My Account</a> 
				<a href="my_cart.html">My Cart</a>
				<a href="register.html">Register </a> 
				<a href="login.html"> Login</a>
			</div>
		</div>
	</div>
</div>

<br>
<br>
<br>

<!--
Lower Header Section 
-->
 
<!-- 
Body Section 
-->
<div class="container">
<div id="gototop"> </div>
<div class="row">
<div id="sidebar" class="span3">
<img src="/img/logo white.png" alt="">
<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Browse by Category</strong></a></li>
		<br>
		<li><a href="product1.html">- Electronics</a></li>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
		<li><a href="product4.html">- Home Decor</a></li>
		<li><a href="product5.html">- Makeup</a></li>

	</ul>
</div>

<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Recently Searched</strong></a></li>
		<br>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
	</ul>
</div>

<div class="well well-small">
	<ul class="nav nav-list">
		<li><strong>Popular Searches</strong></a></li>
		<br>
		<li><a href="product2.html">- Fashion</a></li>
		<li><a href="product3.html">- Sports</a></li>
	</ul>
</div>
</div>

<!--Product Section-->
<div class="flexbox">
    <div class="centercontainer" style="width: 600px">
        <div class="rowdiv flex-start textbanner"><h1>PRODUCT NAME</h1></div>

        <div class="rowdiv">
            <!--Product Image and Price-->
            <div class="coldiv flex-start">
                <img class="productimg bordered" src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/003/850/original/bag.png"><br>
                <hr class="line">
                <button class="buybutton">Add to Cart</button> P100.22 <br>
                Rating : 3.7/5 <br>

                <p class="bottomtext"><b>Tagged Under :</b> Electronics, Gaming, Appliance</p>
            </div>

            <!--Product Description-->
            <div class="coldiv col-uneven flex-start productdesc">
                <h3 class="normalheader">Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus a pellentesque 
                    sit amet porttitor. Eget arcu dictum varius duis at. Enim eu turpis egestas pretium aenean pharetra magna ac placerat. Aenean pharetra magna ac placerat 
                    vestibulum lectus mauris ultrices eros. Tellus in hac habitasse platea dictumst vestibulum. Ultrices tincidunt arcu non sodales neque sodales ut. Eu 
                    lobortis elementum nibh tellus. Tellus molestie nunc non blandit massa. Malesuada fames ac turpis egestas sed. Bibendum enim facilisis gravida neque 
                    convallis a cras. Cras semper auctor neque vitae tempus quam. Amet aliquam id diam maecenas ultricies mi eget mauris. Nunc sed augue lacus viverra vitae 
                    congue eu consequat ac. Ac auctor augue mauris augue.

                    Consectetur adipiscing elit duis tristique. Molestie nunc non blandit massa enim nec dui. Ultricies lacus sed turpis tincidunt id aliquet. Est placerat in 
                    egestas erat imperdiet sed euismod nisi. Tincidunt tortor aliquam nulla facilisi cras. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. 
                    Diam maecenas ultricies mi eget mauris pharetra et ultrices neque. Id donec ultrices tincidunt arcu non sodales. At in tellus integer feugiat scelerisque 
                    varius morbi. Magna etiam tempor orci eu lobortis elementum. Eget lorem dolor sed viverra ipsum</p>
            </div>
        </div>


        <!--Review Section-->
        <div class="rowdiv flex-start textbanner"><h2>Reviews</h2></div>
        <div class="rowdiv flex-start bordered">
            <p><b>Username</b> <br> 
            <u>Rating : 4/5.</u> Consectetur adipiscing elit duis tristique. Molestie nunc non blandit massa enim nec dui. Ultricies lacus sed turpis tincidunt id aliquet. Est placerat in 
            egestas erat imperdiet sed euismod nisi. Tincidunt tortor aliquam nulla facilisi cras.</p>
        </div>

        <div class="rowdiv flex-start bordered">
            <p><b>Username</b> <br> 
            <u>Rating : 4/5.</u> Consectetur adipiscing elit duis tristique. Molestie nunc non blandit massa enim nec dui. Ultricies lacus sed turpis tincidunt id aliquet. Est placerat in 
            egestas erat imperdiet sed euismod nisi. Tincidunt tortor aliquam nulla facilisi cras.</p>
        </div>

        <div class="rowdiv flex-start bordered">
            <p><b>Username</b> <br> 
            <u>Rating : 4/5.</u> Consectetur adipiscing elit duis tristique. Molestie nunc non blandit massa enim nec dui. Ultricies lacus sed turpis tincidunt id aliquet. Est placerat in 
            egestas erat imperdiet sed euismod nisi. Tincidunt tortor aliquam nulla facilisi cras.</p>
        </div>

        <div class="rowdiv flex-start bordered">
            <p><b>Username</b> <br> 
            <u>Rating : 4/5.</u> Consectetur adipiscing elit duis tristique. Molestie nunc non blandit massa enim nec dui. Ultricies lacus sed turpis tincidunt id aliquet. Est placerat in 
            egestas erat imperdiet sed euismod nisi. Tincidunt tortor aliquam nulla facilisi cras.</p>
        </div>


    </div>
    </div>
</div>
<div class="h-spacer"></div>
</div>
    
</body>
</html>